.root {
  font: Roboto;
}

.main_image {
  width: 100%;
}

.drawer_header {
  padding-inline-start: 22.8px;
  margin: 10px;
  font-size: 12px;
}

.drawer_inner_header {
  margin-inline-end: 5px;
}

.lift_icon {
  background-color: #E18DFF;
  border-radius: 50px 50px;
  padding: 15px;
  margin-inline-start: 30px;
}

.title_container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  padding: 60px;
  
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.basic_info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 30px;
}

.description {
  padding: 30px;
}
.participates_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.select {
  margin-inline-start: 80px;
}

.select_container {
  padding-block-end: 20px;
}

.description_icons {
  padding-block-end: 25px;
}

.checked {
  border-style: solid;
  border-color: #35CC71;
  border-width: thin;
  padding-inline: 16px;
  background-color: transparent;
  font-weight: 100;
}

.checkin {
  background-color: #05C050;
  color: white;
  padding-inline: 16px;
  font-weight: 100;
}